//...................VARIABLES........................//
$coul_txt_important : #778BEB;

body{
    background-color: white;
    margin: 0;
    font-size: 16px;
}

//#burger_menu, #label_burger_menu{ //burger menu invisible au dessus de taille xs
//    display: none;
//}



//.................................HEADER.............................................//
header{
    //width: 100%;
    max-width: 1900px;
    height: 380px;
    margin: auto; // centre automatiquement le header par rapport à l'écran

    background: url("../images/accueil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
}


nav{
    background-color : rgba(119, 139, 235, 0.8);
    position: relative;
    top: 82%;
}

.case_nav{
    padding: 5px;
    white-space: nowrap; //pas de retour à la ligne du texte par case
    text-align: center;
    border-right: 2px solid black;
    //max-width: 180px; //donc passe les cases à la ligne avant débordement du texte
    color: white;
    font-weight: bold;
    &:hover{
        color: #f19066;
    }
}

//...............................FIN HEADER.............................................//
/////////////////////////////////////////////////////////////////////////////////////////

//...........................CONTENU PRINCIPAL.......................................//
#content{
    background-image: linear-gradient(#74b9ff, white);
    background-color: #74b9ff;
}

main{
    background-color: white;
    width: 1100px;
    margin: auto;
    display: flex;
}

//........SECTION GAUCHE.................
#section_gauche{
    width: 70%;
    margin: 40px;
    h1{
        color: $coul_txt_important;
        font-weight: normal;
        border-bottom: 1px solid grey;
        padding-bottom: 30px;
    }
    h2{
        font-size: 1.5rem;
    }
    .txt_bleu{
        color: $coul_txt_important;
    }
}
//......................................

//........SECTION DROITE................
#section_droite{
    width: 30%;
    margin: 40px;
    
    #questions{
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    #liens_droite{
        border: 1px solid black;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
}
//......................................
//////////////////////////////////////////////////////////////////////////////////////////

//................................FOOTER..........................//
footer{
    width: 100%;
    height: 100px;
    background-color: #4b4b4b;
    margin-bottom: 0;
}

.list_footer{
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;    
}

//.footer{
    //border-right: 1px solid black;
//}

//..............................FIN FOOTER.............................//
@media screen and (max-width: 768px){
    main{
        margin-top: 100px;
    }
}





///////////////////////////////////////////////////////
/* test burger menu
@media screen and (max-width: 575px){
    
    .case_nav{//menu classique passe en invisible
        //display: none;
    }
    #label_burger_menu{//affiche le burger menu à la place
        display: block;
        width: 26px;
        border: 3px solid white;
    }
    .trait_burger{
        align-content : center;
        width: 16px;
        border: 2px solid white;//les 3 traits du menu
        border-radius: 30%;
        margin: 2px;              //espacement entre les 3 traits
    }
    .burger_menu:checked + .case_nav{
        display: block;
    }
}
*/